/.idea/
/perfect-parent.iml
./perfect-bean/target
./perfect-common/target
./perfect-core/target
./perfect-excel/target
./perfect-framework/target
./perfect-manager/target
./perfect-managerStarter/target
./perfect-mongo/target
./perfect-mq/target
./perfect-quartz/target
./perfect-redis/target
./perfect-security/target
perfect-task/perfect-task.iml
perfect-task/src/main/resources/rebel.xml
perfect-task/target/
task-parent.iml
